<html>
    <body>
        <form method="post" id="loginForm">
            {% csrf_token %}
            <input type="hidden" name="actionpost" value="login">
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            <input placeholder="Email" aria-label="Email" id="email" name="email" class="">
            <input placeholder="Password" aria-label="Password" id="password" type="password" name="password" autocapitalize="none" class="">
            <input placeholder="Password (Again)" aria-label="Password" id="retyped_password" type="password" name="retyped_password" autocapitalize="none" class="">
            <input type="submit"/>
        </form>
        <span>Have an account? </span><a href="{% url 'bowlapp:login'%}">Login here.</a>
    </body>
</html>